<header>
    <div class="topHeader flex">
        <div class="imgContainer">
            <img src="../../public/img/logo.png" alt="logo">
        </div>
        <a class="pageHeading" href="/"><h1>RE:USEFUL</h1></a>
        <a class="btn" href="/login">Log In</a> 
    </div>
    <div class="filterOptions flex">
        <a href="#">All</a>
        <a href="#">Sofas</a>
        <a href="#">Tables</a>
        <a href="#">Chairs</a>
        <a href="#">Lamps</a>
    </div>
</header>