<header>
    <div class="topHeader flex">
        <div class="flex">
            <div class="imgContainer">
                <img src="../../public/img/logo.png" alt="logo">
            </div>
            <a class="pageHeading sitename" href="/ads"><h1>RE:USEFUL</h1></a>
        </div>
        <div>
            <% if (locals) { %>
                <a href="#"><i class="userLoggedIn fa-solid fa-circle-plus"></i></a>
                <a href="#"><i class="userLoggedIn fa-solid fa-user"></i></a>
                <a href="#"><i class="userLoggedIn fa-solid fa-arrow-right-from-bracket"></i></a>
                <%} else { %>
                <a class="btn" href="/login">Log In</a>
            <% } %>
        </div>
    </div>
    <div class="filterOptions flex">
        <a class="filterBtn active" href="#">All</a>
        <a class="filterBtn" href="#">Sofas</a>
        <a class="filterBtn" href="#">Tables</a>
        <a class="filterBtn" href="#">Chairs</a>
        <a class="filterBtn" href="#">Lamps</a>
    </div>
</header>