<header>
    <div class="topHeader flex">
        <div class="flex">
            <div class="imgContainer">
                <img src="../../public/img/logo.png" alt="logo">
            </div>
            <a class="pageHeading" href="/ads"><h1>RE:USEFUL</h1></a>
        </div>
        <div>
            <a class="btn" href="/login">Log In</a> 
        </div>
    </div>
    <div class="filterOptions flex">
        <a class="filterBtn active" href="#">All</a>
        <a class="filterBtn" href="#">Sofas</a>
        <a class="filterBtn" href="#">Tables</a>
        <a class="filterBtn" href="#">Chairs</a>
        <a class="filterBtn" href="#">Lamps</a>
    </div>
</header>