<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/bf456a88d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <h2 class="flex pageHeading">Recently Listed</h2>

    <!-- <a href="/adForm">Create Ad</a> -->

    <% Ads.forEach(Ad => { %>
        <div class="ad">
            <div class="flex titleCategory">
                <div>
                    <h3 class="title"><%= Ad.title %></h3>
                    <p class="category"><%= Ad.category %></p>
                </div>
                <h4 class="price"><%= Ad.price %></h4>
            </div>
        </div>
    <% }) %>

    <!-- <form action="/ads" method="post" class="flex">
        <input type="text" name="title" id="title" placeholder="Title">
        <select name="category" id="category">
            <option value="sofas">Sofas</option>
            <option value="tables">Tables</option>
            <option value="chairs">Chairs</option>
            <option value="lamps">Lamps</option>
        </select>
        <input type="number" name="price" id="price" placeholder="Price">
        <textarea name="description" id="description" cols="20" rows="10" placeholder="Description"></textarea>
        <label for="public">Post Ad</label>
        <input type="radio" name="public" id="visibility">
        <label for="private">Save as draft</label>
        <input type="radio" name="private" id="visibility">

        <input type="submit" value="Submit">
    </form> -->

</body>
</html>