<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="../public/css/register.css">
    <script src="https://kit.fontawesome.com/bf456a88d2.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <div class="flex pageHeading">
        <a href="/login"><i class="fa-solid fa-arrow-left"></i></a>
        <h2 class="pageHeading">Register</h2>
    </div>

    <form class="flex" action="/login" method="post">
        <input type="text" name="username" id="username" placeholder="Username">
        <input type="text" name="email" id="email" placeholder="E-Mail">
        <input type="password" name="password" id="password" placeholder="Password">
        <!-- <input type="password" name="password" id="password" placeholder="Password"> -->

        <input type="submit" value="Create User">
    </form>
    
</body>
</html>