<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/userPage.css">
    <script src="https://kit.fontawesome.com/bf456a88d2.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <p id="serverMessage"><%= locals.serverMessage %></p>

    <h2 class="flex pageHeading">User Page</h2>

    <h3>Your Active Ads</h3>

    <h3>Your Drafts</h3>

    <script>
        setTimeout(() => {
        const msg = document.getElementById("serverMessage");
        msg.style.display = "none";
        }, 5000);
    </script>
</body>
</html>