<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <h2 class="flex pageHeading">User Page</h2>

    <h3>Your Active Ads</h3>

    <h3>Your Drafts</h3>
</body>
</html>