@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --lightGreen: #A3BA8C;
    --mediumGreen: #96AC80;
    --darkGreen: #29331F;
    --melon: #FFBFB7;
    --brown: #674C48;
    --grey: #D4D4D4;
    --white: #FFF;
}

body {
    background: var(--lightGreen);
}

/* HEADER AND FILTER OPTIONS */

header {
    display: flex;
    flex-direction: column;
}

.topHeader {
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
}

.topHeader h1 {
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--darkGreen);
}

.pageHeading {
    text-decoration: none;
}

.imgContainer {
    width: 50px;
    height: 50px;
}

.imgContainer img {
    height: 50px;
}

.filterOptions {
    background: var(--mediumGreen);
    justify-content: center;
}

.filterOptions a {
    text-decoration: none;
    color: var(--darkGreen);
    font-weight: 500;
    padding: 0.2rem 0.3rem;
    margin: 0.3rem 0.3rem;
    border-radius: 5px;
}

.flex {
    display: flex;
}

.btn {
    text-decoration: none;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    font-weight: 500;
    background: var(--melon);
    color: var(--brown);
}

.filterBtn.active {
    background-color: var(--lightGreen);
}

.userLoggedIn {
    color: var(--darkGreen);
    padding: 0 0.4rem;
    font-size: 1.2rem;
}

.sitename {
    margin-left: 0.4rem;
}

/* PAGE HEADINGS */

h2 {
    color: var(--darkGreen);
    font-weight: 400;
    position: relative;
}

.pageHeading {
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.4rem;
}

.fa-arrow-left {
    font-size: 1.3rem;
    position: relative;
    right: 10px;
    top: 8px;
}

a {
    color: var(--darkGreen);
}

/* ADS */

.adsContainer {
    flex-direction: column;
}

.ad {
    background: var(--white);
    padding: 0.5rem 1rem;
    display: none;
}

.ad:not(:last-child)  {
    margin-bottom: 1rem;
}

.titleCategory {
    justify-content: space-between;
}

.title {
    color: var(--darkGreen);
    font-weight: 500;
    font-size: 1.2rem;
}

.price {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--darkGreen);
}

.category {
    background: var(--melon);
    padding: 0.3rem;
    font-size: 0.6rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 5px;
    margin: 0.4rem 0;
}

.adBottom {
    justify-content: space-between;
    align-items: center;
}

.contactSeller {
    border: none;
}

.panel {
    display: none;
    overflow: hidden;
}

.dollar {
    margin-right: 0.3rem;
}

.Image {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* FILTER */

.show {
    display: block;
}

/* IMAGE */

.Image {
    justify-content: center;
}

/* SERVER MESSAGE */

.success {
    font-weight: 700;
    display: flex;
    /* justify-content: center; */
    padding: 0.6rem;
    color: var(--darkGreen);
    border: 5px solid var(--mediumGreen);
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

.fail {
    font-weight: 700;
    display: flex;
    background: var(--white);
    /* justify-content: center; */
    padding: 0.6rem;
    color: var(--darkGreen);
    border: 5px solid rgb(195, 116, 52);
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}

#serverMessage {
    margin-top: 1rem;
}

/* @MEDIA */

@media (min-width: 400px) {
    .ad {
        width: 400px;
        margin: auto;
        border-radius: 5px;
    }
  }

  @media (min-width: 800px) {
    .adsContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ad {
        max-width: 400px;
    }
  }

  /* @media (min-width: 2500px) {
    .adsContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ad {
        min-width: 400px;
    }
  } */