h3 {
    color: var(--darkGreen);
    text-align: center;
}

.optionsDiv {
    background: var(--melon);
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    width: 60%;
    justify-content: space-between;
    margin: auto;
}

/* .visibilityText {
    margin: auto;
    width: fit-content;
    background: var(--melon);
    padding: 0.4rem;
    border-radius: 5px;
} */

.fa-pencil, .fa-trash-can {
    color: var(--brown);
    font-size: 1rem;
}

.fa-trash-can {
    margin-left: 1rem;
}

.btnAdUserPage {
    border: none;
    background: var(--melon);
}