h3 {
    color: var(--darkGreen);
    text-align: center;
}

.optionsDiv {
    background: var(--melon);
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    width: 60%;
    justify-content: space-between;
    margin: auto;
}

.fa-pencil, .fa-trash-can {
    color: var(--brown);
    font-size: 1rem;
}

.fa-trash-can {
    margin-left: 1rem;
}

.btnAdUserPage {
    border: none;
    background: var(--melon);
}

.adVisibilityHeading {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.7rem;
}

.ad {
    display: block;
}

.draft {
    background: var(--lightGreen);
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    width: 60%;
    justify-content: space-between;
    margin: auto;
}

.draftContent {
    color: var(--darkGreen);
}

.visibilityText {
    font-weight: 500;
}
